// display flex was causing errors
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    display: block;
    font-size: 125%;
    font-weight: 3000;
}

.carousel{
    .carousel-inner{
        box-shadow: $box-shadow-raised !important;
        border-radius: 10%;
        max-width: 65%;
        max-height: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    // .card {
    //     max-width: 650px;
    //     margin: 60px auto;
    //     display: block;
           
    // }
    
    
}

// #carousel > div > div > div:nth-child(3) > div > h5{
//     color: black;
// }
#carousel > div > div > div.carousel-item.active > img {
    // width:50vw;
    // height:30vw;  
    // vertical-align: bottom;
}

#carousel > div > div > div.carousel-item > img {
    // width:50vw;
    // height:30vw;
    // vertical-align: bottom;

}
 







@media only screen and (max-width: 768px) {
    #carousel > div > div > div.carousel-item.active > a > img{
      
        max-height: 250px; 
        max-width: 300px; 
    }
    #carousel {
        margin-top: 75px; 
    }

  }
 
 