// display flex was causing errors
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    display: block;
   font-size: 125%;
}

.carousel{
    .carousel-inner{
        box-shadow: $box-shadow-raised;
        border-radius: 10%;
        max-width: 75%;
        max-height: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        max-width: 650px;
        margin: 60px auto;
        display: block;
           
    }
    
    
}


#carousel > div > div > div.carousel-item.active > img {
    // width:50vw;
    // height:30vw;  
    // vertical-align: bottom;
}

#carousel > div > div > div.carousel-item > img {
    // width:50vw;
    // height:30vw;
    // vertical-align: bottom;

}
 







@media only screen and (max-width: 768px) {
 
    #carousel {
        display: none;
    }

  }
 
 