// display flex was causing errors
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    display: flex;
   
}

.carousel{
    .carousel-inner{
        box-shadow: $box-shadow-raised;
        border-radius: 10%;
        max-width: 75%;
        max-height: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        max-width: 650px;
        
        margin: 60px auto;
        display: block;

        
    
      
    }

  
    
}
 