#about-img{
    height: 300px;
    width: 300px; 
}


#root > div > div > div.container > div > div > p {
     
    text-align: left;
     
    font-weight: 400 !important;
    top: 50%;
    left: 50%;
   
  }