#root > div > div > table {

    display: none; 

}


  


@media only screen and (max-width: 768px) {
    #root > div > div > table {
        display: flex; 
        color: #fff; 
        justify-content: center;
        align-items: center;
        width: 100% ;
    }
  
        td {
            display: flex; 
            font-weight: 400;
            font-size: 300%;
            justify-content: center;
            width: 60vw;
        }

        a {
            color: #fff !important;
            text-decoration: none;
        }
        
        

  }
 
